!!!
%html
  %head
    %title BootstrapExample
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %p.notice= notice
    %p.alert= alert
    %nav.navbar.navbar-default{:role => "navigation"}
      .container-fluid
        .navbar-header.navbar-left
          %h1
            = link_to "OneLinr", root_path
        .collapse.navbar-collapse.navbar-right
          - if user_signed_in?
            = form_tag destroy_user_session_path, :method => :delete do
              %button.btn.btn-default.navbar-btn Sign out
          - else
            = form_tag user_session_path, class: 'navbar-form' do
              .form-group
                = text_field_tag 'user[email]'
                = password_field_tag 'user[password]'
                = check_box_tag 'user[remember_me]'
                = label_tag 'user[remember_me]', 'Remember me'
                %button.btn.btn-default Sign in
                = link_to "Sign up", new_user_registration_path, class: 'btn btn-default navbar-btn'
                = link_to 'Forgot your password?', new_password_path(:user)
    .text-center
      = yield
